@import "@/styles/variables";
@import "@/styles/mixin";

.card {
    @include flex(center, column, center);
    background-color: var(--color);
    background-image: url('/images/pokemon-ball.png');
    background-size: 150px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    margin: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    border: #eee 2px solid;
    box-shadow: 0px 0px 10px var(--color);
    cursor: pointer;
    opacity: 0.8;
    &:hover {
        opacity: 1;
        box-shadow: 0px 0px 15px var(--color);
    }
    .cardTypeArea {
        position: absolute;
        top: 8px;
        left: 12px;
    }
    .cardIdWrap {
        right: 0;
        top: 0px;
        width: 90px;
        height: 90px;
        overflow: hidden;
        position: absolute;
        .cardId {
            @include font(1.25rem, var(--color), 600);
            text-align: center;
            width: 125px;
            background: rgba(255, 255, 255, 0.6);
            padding: 2px 0;
            transform: rotate(45deg);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            top: 15px;
            font-family: monospace;
        }
    }
    // TODO: 想要每個屬性背景圖
    .cardTitle {
        color: $fc-white;
        margin: 0.5rem 0rem;
    }
    .cardImage {
        @include flex(center);
        padding: 4px;
        img {
            max-width: 50%;
            max-height: 300px;
        }
    }
    .cardSelect {
        width: 1rem;
        height: 1rem;
        background: #FFF;
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
    }
}
