@import "@/styles/variables";
@import "@/styles/mixin";

.cardArea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include screen(pad) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include screen(sm) {
        grid-template-columns: repeat(1, 1fr);
    }
}
