.type-normal {
    --color: rgb(184, 184, 184);
}

.type-fighting {
    --color: rgb(250, 158, 83);
}

.type-flying {
    --color: rgb(152, 196, 246);
}

.type-poison {
    --color: rgb(159, 91, 222);
}

.type-ground {
    --color: rgb(160, 95, 45);
}

.type-rock {
    --color: rgb(174, 169, 133);
}

.type-bug {
    --color: rgb(172, 186, 62);
}

.type-ghost {
    --color: rgb(126, 77, 129);
}

.type-steel {
    --color: rgb(95, 145, 168);
}

.type-fire {
    --color: rgb(234, 75, 67);
}

.type-water {
    --color: rgb(87, 143, 239);
}

.type-grass {
    --color: rgb(100, 180, 63);
}

.type-electric {
    --color: rgb(245, 211, 89);
}

.type-psychic {
    --color: rgb(248, 123, 158);
}

.type-ice {
    --color: rgb(112, 213, 251);
}

.type-dragon {
    --color: rgb(83, 96, 217);
}

.type-dark {
    --color: rgb(96, 84, 81);
}

.type-fairy {
    --color: rgb(247, 162, 255);
}
