.type-normal {
    --color: rgb(159, 161, 159);
}

.type-fighting {
    --color: rgb(239, 135, 51);
}

.type-flying {
    --color: rgb(141, 184, 234);
}

.type-poison {
    --color: rgb(135, 70, 196);
}

.type-ground {
    --color: rgb(136, 84, 43);
}

.type-rock {
    --color: rgb(174, 169, 133);
}

.type-bug {
    --color: rgb(148, 161, 56);
}

.type-ghost {
    --color: rgb(106, 67, 109);
}

.type-steel {
    --color: rgb(112, 159, 181);
}

.type-fire {
    --color: rgb(212, 61, 53);
}

.type-water {
    --color: rgb(67, 126, 231);
}

.type-grass {
    --color: rgb(92, 159, 61);
}

.type-electric {
    --color: rgb(241, 194, 66);
}

.type-psychic {
    --color: rgb(221, 80, 121);
}

.type-ice {
    --color: rgb(112, 213, 251);
}

.type-dragon {
    --color: rgb(83, 96, 217);
}

.type-dark {
    --color: rgb(79, 66, 63);
}

.type-fairy {
    --color: rgb(223, 119, 233);
}
