@import "@/styles/variables";
@import "@/styles/mixin";


.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    .modalContent {
        width: 80%;
        margin: 5% auto;
        padding: 2rem 3rem;
        background-color: #fefefe;
        border: 3px solid #888;
        border-radius: 1rem;
    }
    .modalHeader {
        .close {
            color: $fc-black;
            float: right;
            font-size: 2rem;
            font-weight: bold;
            &:hover,
            &:focus {
                color: black;
                cursor: pointer;
            }
        }
        span {
            font-size: 2rem;
            color: $fc-black;
            font-weight: bold;
        }
    }
    .modalBody {
    }
}

.pokemonMain {
    @include flex;
    .mainImage {
        @include flex(center);
        width: 40%;
        img {
            max-width: 80%;
        }
    }
    .mainInfo {
        @include flex(center, column);
        width: 60%;
    }
}

.pokemonImages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: $fc-primary dashed 1px;
    margin-top: 1rem;
    padding-top: 1rem;
    .pokemonImage {
        @include flex(center, column, center);
        .title {
            color: $fc-white;
            background-color: $fc-black;
            border-radius: 1rem;
            width: 100px;
            text-align: center;
            font-size: 0.75rem;
        }
        .image {
            width: 80%;
        }
    }
}
